@media (max-width: 600px) {
    .home-banner-div {
        grid-template-columns: unset !important;
        height: fit-content !important;
        padding: unset !important;
        
    }
    .banner-header-title {
        font-size: 30px !important;
    }
    .banner-header-text {
        font-size: 15px !important;
    }
    .header-button {
        padding: 10px 20px !important;
    }
    .hide {
        display: none !important;
    }
    
}

.home-banner-div {
    width: 90%;
    height: 70vh;
    background-size: cover;
    background-color: #081425;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin: auto;
}
.home-banner-div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
    height: 78%;
    background: radial-gradient(circle at center, rgba(190, 198, 224, 0.08) 0%, transparent 100%);
    filter: blur(1000px);
    z-index: 0; 
    pointer-events: none; 
}
.banner-header-div {
    width: 90%;
    align-content: center;
    height: 100%;
    color: rgb(217, 228, 252);
    padding: 1rem;
    text-align: justify;
}

.banner-header-title {
    font-size: 45px;
    text-align: left;
}

.banner-header-text {
    color: rgb(127, 132, 143);
    font-size: 17px;
    line-height: 1.3;
}
.blur {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
}

.header-button {
    padding: 10px 40px;
    background-color: rgb(109, 112, 251);
    border: none;
    border-radius: 5px;
    color: white;
}

.header-button#about {
    background-color: rgb(12, 23, 45);
    border: 1px solid rgba(121, 121, 121, 0.65);
    color: rgba(121, 121, 121);
    font-size: 17px;
}

